<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <div th:replace="common/links::common_links"></div>
    <div th:replace="common/links::custom_links"></div>
    <div th:replace="common/links::font_links"></div>
    <div th:replace="common/links::ztree_links"></div>
    <div th:replace="common/links::multiselect_links"></div>
    <div th:replace="common/links::tabs_links"></div>
    <div th:replace="common/links::checkbox_links"></div>
    <style>

        input.error {
            border: 1px solid red !important;
        }
        label.error {
            background:url("../images/unchecked.gif") no-repeat 0px 0px;
            padding-left: 16px;
            padding-bottom: 2px;
            font-weight: bold;
            color: red;
        }
        span.error {
            background:url("../images/unchecked.gif") no-repeat 0px 0px;
            padding-left: 16px;
            padding-bottom: 2px;
            font-weight: bold;
            color: red;
        }
        label.checked {
            background:url("../images/checked.gif") no-repeat 0px 0px;
        }
        .tooltip {
            position: absolute;
            z-index: 10200;
            display: block;
            visibility: visible;
            padding: 5px;
            font-size: 11px;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .tooltip-inner {
            max-width: 300px;
            padding: 0px 8px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            background-color: #F70104;
            font-size: 14px;
            font-weight: bold;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 6px;
        }
        form input.error{
            color:#F00;
            border: 1px solid #CE7979;
            background:#FFF7FA;
        }
        form label.error{
            color:#F00;
        }


        .arrow-left
        {
            border-bottom: 10px solid #f70101;
            border-left: 10px solid #ffffff;
        }
    </style>
</head>
<body style="border-radius: 8px;width: 690px;overflow: hidden">
    <div class="warrant_nav">
        <ul>
            <li class="warrant_active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
            <li><span class="step">2</span>分配部门<span class="chevron"></span></li>
            <li><span class="step">3</span>分配角色<span class="chevron"></span></li>
        </ul>
        <div class="clear"></div>
    </div>
    <form id="form" onsubmit="return false">
        <div class="warrant_main">
            <div class="tree_left" style="display: block">
                <div class="top">
                    <div>
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>用户帐号<span class="span">*</span></td>
                                    <td><input type="text" id="username" name="username" required   minlength ="2"></td>
                                    <td>用户密码<span class="span">*</span></td>
                                    <td>
                                        <input type="password" id="password" name="password" class="long_text" value="123456" placeholder="默认123456" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>员工工号<span class="span">*</span></td>
                                    <td><input type="text" id="worknum" name="worknum" required></td>
                                    <td>所在岗位<span class="span"></span></td>
                                    <td>
                                        <select id="post" name="post">
                                            <option>-请选择-</option>
                                            <option value="0">初级人员</option>
                                            <option value="1">中级人员</option>
                                            <option value="2">高级人员</option>
                                            <option value="3">领导班子</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>

                                    <td>员工姓名<span class="span">*</span></td>
                                    <td><input type="text" id="realname" name="realname" required></td>
                                    <td>员工性别<span class="span"></span></td>
                                    <td>
                                        <select id="sex" name="sex">
                                            <option value="0">男</option>
                                            <option value="1">女</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>出生年月<span class="span"></span></td>
                                    <td><input type="text" id="birthday" name="birthday"></td>
                                    <td>户口籍贯<span class="span"></span></td>
                                    <td>
                                        <select id="input_province"  name="province"class="td_select">
                                            <option value="">-请选择-</option>
                                        </select>
                                        <select id="input_city" name="city" class="td_select">
                                            <option value=""></option>
                                        </select>
                                        <select id="input_area" name="area" class="td_select">
                                            <option value=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>手机号码<span class="span"></span></td>
                                    <td><input type="text" id="phone" name="phone"></td>
                                    <td>座机号码<span class="span"></span></td>
                                    <td><input type="text" id="tel" name="tel"></td>
                                </tr>
                                <tr>
                                    <td>电子邮箱<span class="span"></span></td>
                                    <td><input type="email" id="email" name="email" required></td>
                                    <td>QQ/微信<span class="span"></span></td>
                                    <td><input type="text" id="qq" name="qq"></td>
                                </tr>
                                <tr>
                                    <td>其他备注<span class="span"></span></td>
                                    <td colspan = "8" style="text-align: left"><textarea id="desp" name="desp"></textarea></td>
                                </tr>
                                <!--                        <tr>-->
                                <!--                            <td>归属部门<span class="span"></span></td>-->
                                <!--                            <td>-->
                                <!--                                <div class="dropdown">-->
                                <!--                                    <input class="dropdown_select"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="&#45;&#45;请选择&#45;&#45;" >-->
                                <!--                                    <span class="caret"></span>-->
                                <!--                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 247px">-->
                                <!--                                        <div class=" order_ztree l_left organize_ztree" style="width: 100%;background-color: #fff;padding-bottom: 10px;height: 240px;overflow: auto;">-->
                                <!--                                            <ul id="treeDemo" class="ztree"  style=" overflow:auto;margin-left: 20px"></ul>-->

                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                            </td>-->
                                <!--                            <td>授予角色<span class="span"></span></td>-->
                                <!--                            <td>-->
                                <!--                                <select  class="multiselect" multiple="multiple">-->
                                <!--                                    <option>全部</option>-->
                                <!--                                    <option>超级管理员</option>-->
                                <!--                                    <option>普通管理员</option>-->
                                <!--                                </select>-->
                                <!--                            </td>-->
                                <!--                        </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--底部按钮-->
                <div class="notice_bot">
                    <div class="l_left"></div>
                    <div class="r_right but_p">
                        <button id="btn_next1" class="but_next" type="button" onclick="nextTab(1)">下一步</button>
                        <button class="but_close" onclick="Colse()">关闭</button>
                    </div>
                </div>
            </div>
            <div class="tree_left">
                第二个
                <!--底部按钮-->
                <div class="notice_bot">
                    <div class="l_left"></div>
                    <div class="r_right but_p">
                        <button class="but_previous" type="button" onclick="nextTab(0)">上一步</button>
                        <button class="but_next" type="button" onclick="nextTab(2)">下一步</button>
                        <button class="but_close" onclick="Colse()">关闭</button>
                    </div>
                </div>
            </div>
            <div class="tree_left">
                最后一个
                <div class="notice_bot">
                    <div class="l_left">
                        <input id="btn_save_close" type="checkbox" checked="checked"/>保存并关闭窗口
                    </div>
                    <div class="r_right but_p">
                        <button class="but_previous" type="button" onclick="nextTab(1)">上一步</button>
                        <button class="but_save" type="submit">保存</button>
                        <button class="but_close" onclick="Colse()">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div th:replace="common/links::common_script"></div>
    <div th:replace="common/links::table_script"></div>
    <div th:replace="common/links::ztree_script"></div>
    <div th:replace="common/links::multiselect_script"></div>
    <script type="text/javascript" th:src="@{/static/access/js/custom/menutree.js}"></script>
    <script type="text/javascript" th:src="@{/static/access/js/custom/address.js}"></script>
<!--    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<!--    <script src="https://cdn.bootcss.com/jquery-validate/1.19.1/additional-methods.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery-validate/1.19.1/localization/messages_zh.min.js"></script>
    <script>
        // var formqq = null;
        // formqq = $("#form1").validate({
        //     // debug:true,
        //     rules:{
        //         username:{required:true},
        //         password:{required:true,minlength:4,maxlength:6}
        //     },
        //
        //     messages:{
        //         username:{required:"用户名必填"},
        //         password:{
        //             required:"密码不能为空",
        //             minlength:"密码的最小长度为4",
        //             maxlength:"密码的最大长度为6"
        //         }
        //     }
        // });
        $(function () {
            tabNav();
            clickTab();

            $('.multiselect').multiselect({
                buttonClass: 'btn',
                buttonWidth: 'auto',
                buttonText: function(options) {
                    if (options.length == 0) {
                        return '请选择角色';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            selected += $(this).text() + ',';
                        });
                        return selected.substr(0, selected.length -1) ;
                    }
                },
            });

        });

        $("#form").submit(function () {
            $.ajax({
                type: "post",
                url: "add",
                data:JSON.stringify($('#form').serializeObject()),
                async:true, // 异步请求
                cache:false, // 设置为 false 将不缓存此页面
                dataType: "json", // 返回对象
                contentType:"application/json;charset=UTF-8",
                success: function(res) {
                    if (res.code == "0") {
                        if($("#btn_save_close").is(':checked')){
                            alert("保存成功",Colse);
                        }
                    }else {
                        layer.alert("["+res.code+"]"+res.msg, {
                            skin: 'layui-layer-lan'
                            ,closeBtn: 0
                            ,anim: 4 //动画类型
                        });
                    }
                },
                error: function(e) {
                    // 请求失败函数
                    console.log("error:"+JSON.stringify(e));
                }
            })
        })


        // 遍历nav
        function tabNav(){
            $(".warrant_nav ul li").each(function(index){
                $(this).click(function(){
                    $(".warrant_nav ul li").removeClass("warrant_active");
                    $(this).addClass("warrant_active");
                    $(".warrant_main .tree_left").eq(index).show().siblings(".tree_left").stop().hide();
                })
            })
        }
        
        function clickTab(){
            $("#name").click(function(){
                $("#tree").show();
            })
        }
        
        function nextTab(index) {
            if($("#form").valid()){
                var count = 0;
                $(".warrant_nav ul li").each(function(){
                    if(count == index){
                        $(".warrant_nav ul li").removeClass("warrant_active");
                        $(this).addClass("warrant_active");
                        $(".warrant_main .tree_left").eq(index).show().siblings(".tree_left").stop().hide();
                    }
                    count++;
                });
            }
        }

        function Colse() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }


        $("#btn_next").click(function () {
            // console.log("==============="+"Valid: " + formqq.valid())
            // console.log("==============="+"=: " + JSON.stringify(formqq))
        });

        $.validator.setDefaults({

            submitHandler:function(form){
                form.submit();//提交时拦截

            },
            errorElement:'div',
            errorPlacement: function(error, element) {
                error.addClass('tooltip tooltip-inner arrow-left');
                if (element.is(":radio")){
                    error.appendTo(element.parent().next().next());
                }else if (element.is(":checkbox")){
                    error.appendTo(element.next());
                }else{
                    element.after(error);
                }
                var pos = $.extend({}, element.offset(), {
                        width: element.outerWidth()
                        , height: element.outerHeight()
                    }),
                    actualWidth = error.outerWidth(),
                    actualHeight = error.outerHeight();
                if((pos.top - actualHeight)<0){actualHeight=0;pos.width+=10;}//如果输入框距离顶端为0情况把提示放右边
                if(element.parents(".blockPage").attr("class")=="blockUI blockMsg blockPage"){//如果是弹出框的，那么设置如下
                    error.css({display:'block',opacity:'0.6' ,left:300,top:pos.top - $(document).scrollTop() - actualHeight - 100, "border-left": '0px'});
                }
                else if (element.is(":radio")){//类型为radio的显示如下
                    error.css({display:'block',opacity:'0.6',top: pos.top - actualHeight, left: pos.left + pos.width / 2 });
                }else{//其他均为以下显示
                    error.css({display:'block',opacity:'0.6',top: pos.top - actualHeight, left: pos.left + pos.width-10 });
                }
            },
            highlight: function(element, errorClass) {
                //高亮显示
                $(element).addClass(errorClass);
                $(element).parents('li:first').children('label').addClass(errorClass);
            },
            unhighlight:function(element, errorClass){
                $(element).removeClass(errorClass);
                $(element).parents('li:first').children('label').removeClass(errorClass);
            }
        });
    </script>
</body>
</html>
