<!doctype html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<!--公共js-->
<div th:fragment="common_links">
    <!-- Bootstrap JS -->
    <script th:src="@{static/cms/assets/js/jquery/jquery.min.js}"></script>
    <script th:src="@{http://cdn.bootstrapmb.com/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</div>
<!--底部版权-->
<!-- Footer Section Starts -->
<footer th:fragment="foot" class="main-footer">
    <div class="pull-right hidden-xs">
        Version 1.0.0
    </div>
    <p class="mb-0">Copyright © [[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]]
        <a target="_blank" href="http://www.gemframework.com/">GemFrame</a>. All rights
        reserved.<span th:text="${haha}" ></span></p>
</footer>
<!-- Footer Section Ends -->
</html>
