<!doctype html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
<!-- Sidebar Section Starts -->
<aside  th:fragment="left_sidebar" class="main-sidebar">
    <div class="nano">
        <div class="nano-content">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">主菜单栏</li>
                <!--动态遍历菜单开始-->
                <!--主菜单-->
                <li th:each="menu,menuStat : ${session.menus}" th:class="${menu.childs}==null?'':'treeview'" th:classappend="${menu.active}=='1'?'active':''" >
                    <!--主菜单链接-->
                    <a th:href="${menu.link}">
                        <!--主菜单图标-->
                        <i th:classappend="${menu.icon}==null?'fa fa-circle-o':${menu.icon}"></i>
                        <!--主菜单名称-->
                        <span th:text="${menu.name}"></span>
                        <!--打开二级子菜单箭头-->
                        <span th:if="${menu.childs}==null?false:${menu.childs.size()} gt 0" class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <!--二级子菜单模块-->
                    <ul th:if="${menu.childs}==null?fasle:${menu.childs.size() gt 0}" class="treeview-menu">
                        <!--二级子菜单-->
                        <li th:each="submenu,submenuStat : ${menu.childs}" th:class="${submenu.childs}==null?'':'treeview'" th:classappend="${submenu.active}=='1'?'active':''" >
                            <!--二级子菜单链接-->
                            <a th:href="${submenu.link}">
                                <!--二级子菜单图标-->
                                <i th:classappend="${menu.icon}==null?'fa fa-circle-o':${menu.icon}"></i>
                                <!--二级子菜单名称-->
                                <span th:text="${submenu.name}"></span>
                                <!--打开三级子菜单箭头-->
                                <span th:if="${submenu.childs}==null?false:${submenu.childs.size()} gt 0" class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <!--三级子菜单模块-->
                            <ul th:if="${submenu.childs}==null?fasle:${submenu.childs.size() gt 0}" class="treeview-menu">
                                <!--三级子菜单-->
                                <li th:each="threeMenu,threeMenuStat : ${submenu.childs}" th:class="${threeMenu.childs}==null?'':'treeview'" th:classappend="${threeMenu.active}=='1'?'active':''" >
                                    <!--三级子菜单链接-->
                                    <a th:href="${threeMenu.link}">
                                        <!--三级子菜单图标-->
                                        <i th:classappend="${threeMenu.icon}==null?'fa fa-circle-o':${threeMenu.icon}"></i>
                                        <!--三级子菜单名称-->
                                        <span th:text="${threeMenu.name}"></span>
                                        <!--打开四级子菜单箭头-->
                                        <span th:if="${threeMenu.childs}==null?false:${threeMenu.childs.size()} gt 0" class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <!--四级子菜单模块-->
                                    <ul th:if="${threeMenu.childs}==null?fasle:${threeMenu.childs.size() gt 0}" class="treeview-menu">
                                        <!--四级子菜单-->
                                        <li th:each="fourMenu,fourMenuStat : ${threeMenu.childs}" th:class="${fourMenu.childs}==null?'':'treeview'" th:classappend="${fourMenu.active}=='1'?'active':''" >
                                            <!--四级子菜单链接-->
                                            <a th:href="${fourMenu.link}">
                                                <!--四级子菜单图标-->
                                                <i th:classappend="${fourMenu.icon}==null?'fa fa-circle-o':${fourMenu.icon}"></i>
                                                <!--四级子菜单名称-->
                                                <span th:text="${fourMenu.name}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--动态遍历菜单结束-->
                <li class="header">标签</li>
                <li><a href="#"><i class="fa fa-circle-o text-danger"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-warning"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-info"></i> <span>Information</span></a></li>
            </ul>
        </div>
    </div>
</aside>
<!-- Sidebar Section Ends -->

</body>
</html>
