<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title></title>
    <div th:replace="common/links::common_links"></div>
    <div th:replace="common/links::font_links"></div>
    <div th:replace="common/links::treetable_list_links"></div>
    <style>
        th{text-align: center !important;height: 34px;color: #FFF }
    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;overflow: auto">
<div class="notice_main">
    <h6>菜单管理</h6>
    <div class="notice_check">
        <div class="btn-group l_left" style="margin-right: 4px">
            <button type="button" class="btn btn-default change" style="height: 30px;line-height: 30px;padding: 0 12px !important;font-size: 12px">选择条件</button>
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="height: 30px;line-height: 30px">
                <span class="caret"></span>
                <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu">
                <li>资源名称</li>
                <li>资源类型</li>
            </ul>
        </div>
        <div class="l_left">
            <input type="text" class="find_input">

        </div>
        <button class="check_btn" type="button" onclick="javascript:void(0);">查询</button>


        <div class="notice_nav r_right">
            <a class="btn btn-default" onclick="add()"><span class="glyphicon glyphicon-plus"></span>新增</a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>删除</a>
            <a class="btn btn-default" onclick=""><span class="glyphicon glyphicon-pencil"></span>编辑</a>
        </div>
    </div>

        <table id="example-advanced" class="table table-bordered">
            <thead>
                 <tr>
                     <th width="220px">资源名称</th>
                     <th>资源类型</th>
                     <th>资源标识</th>
                     <th>跳转路由</th>
                     <!--<th>所属级别</th>-->
                     <th>资源图标</th>
                     <th>排序序号</th>
                     <th>操作</th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="menu,menuStat:${menuList}"
                    th:data-tt-id="${menu.idPath}"
                    th:data-tt-parent-id="${menu.parentIdPath}">
                    <td class="align_left_col">
                        <span class="folder"></span>
                        <span th:text="${menu.name}"></span>
                    </td>
                    <td><span th:text="${menu.type}"></span></td>
                    <td><span th:text="${menu.tag}"></span></td>
                    <td class="align_left_col">
                        <span th:text="${menu.link}"></span>
                    </td>
                    <!--<td><span th:text="${menu.level}"></span></td>-->
                    <td class="align_left_col">
                        <i th:class="${menu.icon}"></i>
                        <span th:text="${menu.icon}"></span>
                    </td>
                    <td><span th:text="${menu.sortNumber}"></span></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<div th:replace="common/links::common_script"></div>
<script th:src="@{/static/access/js/jquery.treetable.js}"></script>
<script language="javascript">
    $("#example-advanced").treetable({
        expandable: true,
    });

    //添加
    function add(){
        layer.open({
            type: 2,
            title: '添加菜单',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
            closeBtn:1,
            area: ['690px', '440px'],
            content: 'add.html'
        });
    }
</script>
</body>
</html>
